<div class="container">
    <table class="table table-bordered">
        <tr id="e">
            <th>SellerName</th>
            <th>KYC Aproval</th>
                <th>Block/UnBlock</th>
        </tr>
        <tr id="r" *ngFor="let item of seller">
           <td>{{item.sellerName}}</td>
           <td>{{item.kycAproval}}</td>
           <td><button class="btn btn-danger" type="button"   >Block</button>
            <button class="btn btn-primary" type="button"   >UnBlock</button>
        </td>
          
        </tr>
    </table>
