
    <div class="container">
        <table class="table table-bordered">
            <tr id="e">
                <th>CategoryName</th>
                <th>CategoryDetails</th>
                    <th>Delete</th>
            </tr>
            <tr id="r" *ngFor="let item of category">
               <td>{{item.cname}}</td>
               <td>{{item.cdetails}}</td>
               <td><button type="button"  class="btn btn-danger" (click)="deletecategory(item.cid)">Delete Category</button>               
            </td>
              
            </tr>
        </table>
    </div>
    