<div class = "bg">
    <div class="topnav">
      
        <a class="col-sm-2" [routerLink]="['add-category-page']"  > <span class="glyphicon glyphicon-barcode mt-5"></span>Add Category</a>
        <a class="col-sm-2" [routerLink]="['add-sub-category-page']"><span class="glyphicon glyphicon-qrcode mt-5"></span>Add Sub Category</a>
        <a class="col-sm-3"   [routerLink]="['buyer-block-unblock-page']" > <span class="glyphicon glyphicon-barcode mt-5"></span>Block/UnBlock Buyer</a>
        <a class="col-sm-3" [routerLink]="['seller-block-unblock-page']"><span class="glyphicon glyphicon-qrcode mt-5"></span>Block/UnBlock  Seller</a>
        <a class="col-sm-2" id="l"  href="login-page" ><i class="glyphicon glyphicon-off mt-5"  ></i>Logout</a>
    
    
      </div>
      <router-outlet></router-outlet>
    </div>
